nav a {
  color: #ccc !important;
}

nav a:hover {
  color: white !important;
}

.navbar {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 10px 10px;
  margin: 0 auto;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.nav-wrapper {
  max-width: 1200px;
}

.navbar-brand {
  color: white !important;
}

.navbar-toggle {
  background: none !important;
  border: none;
}

.navbar-white {
  background: white !important;
  box-shadow: 1px 1px 10px 1px;
}

.navbar-white a {
  color: #666 !important;
}

.navbar-white a:hover {
  color: black !important;
}

.navbar-white .icon-bar {
  background-color: #444 !important;
}

.navbar-collapse {
  border-top: black !important;
}

.icon-bar {
  background-color: white !important;
}
