nav li:not([class='active']) a {
  color: #ccc !important;
}

nav a:hover {
  color: white !important;
}

.navbar {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 10px 10px;
  margin: 0 auto;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.nav-wrapper {
  max-width: 1200px;
}

.navbar-logo {
  margin-right: 10px;
  width: 32px;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white !important;
}

.navbar-toggle {
  background: none !important;
  border: none;
}

.navbar-white {
  background: white !important;
  box-shadow: 1px 1px 10px 1px;
}

.navbar-white  li:not([class='active']) a {
  color: #777 !important;
}

.navbar-white a:hover {
  color: black !important;
}

.navbar-white .icon-bar {
  background-color: #444 !important;
}

.navbar-collapse {
  border-top: black !important;
}

.icon-bar {
  background-color: white !important;
}

ul .active {
  color: black !important;
}